# Reference material
ref

# --- Environment ---
.env
.venv/
pokemon-sync-venv/
env/
__pycache__/
*.pyc

# --- Streamlit / Logs ---
.streamlit/
logs/
app_log.txt

# --- ML / Data Files ---
*.db
*.sqlite
data/

# --- OS / IDE ---
.DS_Store
.vscode/
.idea/

# ML Models & Large Binaries
*.pkl
*.pt
*.onnx
*.h5
*.bin
src/ml/models/
 
# -- Backup Data --
backups/*.dump
backups/*.json
